

{% for n in news_var %}

    <div class="card mb-3">

        <div class="card-header">

            <! parameter >
            <! category reference block>
                {% include category_ref_path|default:"./content/news_blocks/main_page/_category_ref.html" %}
            <! category reference block>

        </div>
        <div class="card-body">
            <div class="media">

                {% if n.photo %}
                    <img src="{{ n.photo.url }}">
                {% endif %}

                <div class="media-body">

                    <! parameter >
                    <! news display block >
                        {% include news_display_path|default:"./content/news_blocks/main_page/_news_display.html" %}
                    <! news display block >

                </div>
            </div>
        </div>
        <div class="card-footer text-muted">
            {{ n.created_at|date:"Y-m-d H:i" }}
        </div>
    </div>
{% endfor %}