
{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block sidebar %}{% endblock %}

{% block content %}
    <div class="col-md-12">
        <form action="{% url "add_news" %}" method="post", enctype="multipart/form-data">
           {% csrf_token %}
           {% include 'inc/_news_blocks.html' with card_header_content_path="./content/news_blocks/news_form_page/_category_ref.html" news_display_path="./content/news_blocks/news_form_page/_news_display.html" photo_frame_path="./content/news_blocks/news_form_page/_photo_frame.html" card_footer_content_path="./content/news_blocks/news_form_page/_date_field.html"%}{% endblock %}
        </form>
    </div>