

{% extends 'base.html' %}

{% block title %}{{ title }}{% endblock %}

{% block sidebar %}{% include 'inc/_sidebar.html' %}{% endblock %}

{% block content %}

    {% for n in news_var %}
        <div class="card mb-3">

            <div class="card-header">

                {% if n.category %}
                    Категория: <a href="{{ n.category.get_absolute_url }}">{{ n.category }}</a>
                {% else %}
                    Без категории
                {% endif %}

            </div>
            <div class="card-body">
                <div class="media">

                    {% if n.photo %}
                        <img src="{{ n.photo.url }}">
                    {% endif %}

                    <div class="media-body">
                        <h5 class="card-title {% if n.is_published %} text-success {% else %} text-danger {% endif %}">
                            {{ n.title|capfirst }}</h5>
                        <p class="card-text">{{ n.content }}</p>
                        <a href="#" class="btn btn-primary">Еще...</a>
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                {{ n.created_at|date:"Y-m-d H:i" }}
            </div>
        </div>
    {% endfor %}
{% endblock %}





